@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}


/*******************************/
/********** Header CSS *********/
/*******************************/

.header {
    position: relative;
    width: 100%;
    padding: 15px 0;
    background: black;
}

@media (min-width: 1200px) {
    .header .container-fluid {
        padding-left: 60px;
        padding-right: 60px;
        background: black;
    }
}

.header .brand {
    position: relative;
}

.header .brand img {
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 100px;
}

.header .topbar {
    position: relative;
    text-align: right;
}

.header .topbar .topbar-col {
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 15px;
}

.header .topbar-col a {
    color: white;
    font-size: 13px;
}

.header .topbar-col a i {
    margin-right: 10px;
    color: #4F84C4;
}

.header .topbar-social {
    position: relative;
}

.header .topbar-social a {
    display: inline-block;
}

.header .topbar-social a i {
    margin-right: 10px;
    font-size: 18px;
    color: #bbbbbb;
}

.header .topbar-social a:last-child i {
    margin: 0;
}

.header .topbar-social a:hover i {
    color: #4F84C4;
}

.header .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #bbbbbb;
}

.header .dropdown-menu a.active {
    color: #4F84C4;
}

@media (min-width: 992px) {
    .header .navbar {
        background: black !important;
    }
    
    .header .navbar-brand {
        display: none;

    }
    
    .header .navbar-light a.nav-link {
        position: relative;
        padding: 8px 10px;
        color: white;
        font-size: 16px;
        z-index: 1;
    }
    
    .header .navbar-light a.nav-link:hover,
    .header .navbar-light a.nav-link.active {
        color: #4F84C4;
    }
}

@media (max-width: 992px) {
    .header .brand {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .header .topbar {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .header .topbar .topbar-col {
        margin: 0;
    }
    
    .header .topbar .topbar-social {
        margin-top: 5px;
    }
    
    .header .navbar {
        background: #ffffff !important;
        border: 1px solid #eeeeee;
        z-index: 1;
    }
    
    .header a.nav-link {
        padding: 5px 0;
    }
    
    .header .dropdown-menu {
        box-shadow: none;
    }
}


/*******************************/
/******* Page Header CSS *******/
/*******************************/

.page-header {
  position: relative;
  margin-bottom: 45px;
  padding: 80px 0;
  text-align: center;
  background: linear-gradient(to right, #000000, #587fff 50%);
}

.page-header h2 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-header a {
  position: relative;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.page-header a::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 6.5px;
  right: -6px;
  border-radius: 7px;
  background: #ffffff;
}

.page-header a:last-child::after {
  display: none;
}

/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
  position: relative;
  width: 100%;
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-bottom: 15px;
}

.section-header::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  left: calc(50% - 30px);
  bottom: 0;
  background: linear-gradient(to left, #4F84C4, #00539C, #4F84C4);
  border-radius: 100%;
}

.section-header h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-header p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/*******************************/
/********** About CSS **********/
/*******************************/
.about {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

@media (min-width: 768px) {
  .about .container-fluid {
      padding: 0;
  }
  
  .about .row {
      margin: 0;
  }
  
  .about .col-md-6:first-child {
      padding: 0;
  }
  
  .about .col-md-6:last-child {
      padding: 0 60px;
  }
}

.about h2.section-title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.about h2.section-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #4F84C4, #00539C, #4F84C4);
  border-radius: 0 100% 100% 0;
}

.about p {
  color: #213546;
  font-size: 16px;
  margin-bottom: 30px;
}

.about a.btn {
  padding: 10px 35px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  background: linear-gradient(#4F84C4, #00539C);
  transition: .5s;
}

.about a.btn:hover {
  background: linear-gradient(#00539C, #4F84C4);
}

.about img {
  max-width: 100%;
  border-radius: 0 30px 30px 0;
}

@media(max-width: 767.98px) {
  .about img {
      margin-bottom: 30px;
      border-radius: 30px 30px 0 0;
  }
}

.jumbotron .carousel-inner img{
height: 85%;
width: 85%;
}


/*******************************/
/********** Story CSS **********/
/*******************************/
.story {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

@media(min-width: 768px) {
  .story {
      padding: 45px 60px 15px 60px;
  }
}

.story .story-container {
  position: relative;
  width: 100%;
}

.story .story-end,
.story .story-start,
.story .story-year {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
}

/********circles**********/
.story .story-end p,
.story .story-start p,
.story .story-year p {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 30px 0;
  text-align: center;
  background: linear-gradient(#4F84C4, #00539C);
  border-radius: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.story .story-year {
  margin: 30px 0;
}

.story .story-continue {
  position: relative;
  width: 100%;
  padding: 60px 0;
}


/******Straight Line*******/
.story .story-continue::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -1px;
  background: #4F84C4;
}


/**Jan 14 2021**/
.story .row.story-left,
.story .row.story-right .story-date {
  text-align: right;
}

/**Jan 04 2021**/
.story .row.story-right,
.story .row.story-left .story-date {
  text-align: left;
}

/**date format**/
.story .story-date {
  font-size: 14px;
  font-weight: 600;
  margin: 41px 0 0 0;
}


.story .story-date::after {
  content: '';
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 45px;
  background: linear-gradient(#4F84C4, #00539C);
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  border-radius: 15px;
  z-index: 1;
}

.story .row.story-left .story-date::after {
  left: -7px;
}

.story .row.story-right .story-date::after {
  right: -7px;
}

.story .story-box,
.story .story-launch {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  background: #ffffff;
}

.story .story-launch {
  width: 100%;
  margin: 15px 0;
  padding: 0;
  border: none;
  text-align: center;
  background: transparent;
}

.story .story-box::after,
.story .story-box::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.story .row.story-left .story-box::after,
.story .row.story-left .story-box::before {
  left: 100%;
}

.story .row.story-right .story-box::after,
.story .row.story-right .story-box::before {
  right: 100%;
}

.story .story-launch .story-box::after,
.story .story-launch .story-box::before {
  left: 50%;
  margin-left: -10px;
}

.story .story-box::after {
  top: 26px;
  border-color: transparent transparent transparent #ffffff;
  border-width: 10px;
}

.story .story-box::before {
  top: 25px;
  border-color: transparent transparent transparent #dddddd;
  border-width: 11px;
}

.story .row.story-right .story-box::after {
  border-color: transparent #ffffff transparent transparent;
}

.story .row.story-right .story-box::before {
  border-color: transparent #dddddd transparent transparent;
}

.story .story-launch .story-box::after {
  top: -20px;
  border-color: transparent transparent #dddddd transparent;
}

.story .story-launch .story-box::before {
  top: -19px;
  border-color: transparent transparent #ffffff transparent;
  border-width: 10px;
  z-index: 1;
}

.story .story-box .story-icon {
  position: relative;
  width: 40px;
  height: auto;
  float: left;
}

.story .story-icon i {
  font-size: 25px;
  color: #4F84C4;
}

.story .story-icon img {
  width: 25px;
}

.story .story-box .story-text {
  position: relative;
  width: calc(100% - 40px);
  float: left;
}

.story .story-launch .story-text {
  width: 100%;
}

.story .story-text h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
}

.story .story-text p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .story .story-continue::after {
      left: 40px;
  }
  
  .story .story-end,
  .story .story-start,
  .story .story-year,
  .story .row.story-left,
  .story .row.story-right .story-date,
  .story .row.story-right,
  .story .row.story-left .story-date,
  .story .story-launch {
      text-align: left;
  }
  
  .story .row.story-left .story-date::after,
  .story .row.story-right .story-date::after {
      left: 47px;
  }
  
  .story .story-box,
  .story .row.story-right .story-date,
  .story .row.story-left .story-date {
      margin-left: 55px;
  }
  
  .story .story-launch .story-box {
      margin-left: 0;
  }
  
  .story .row.story-left .story-box::after {
      left: -20px;
      border-color: transparent #ffffff transparent transparent;
  }

  .story .row.story-left .story-box::before {
      left: -22px;
      border-color: transparent #dddddd transparent transparent;
  }
  
  .story .story-launch .story-box::after,
  .story .story-launch .story-box::before {
      left: 30px;
      margin-left: 0;
  }
}

/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
  position: relative;
  width: 100%;
  padding: 45px 0 60px 0;
}

@media (min-width: 768px) {
  .team {
      padding: 45px 60px 60px 60px;
  }
}

.team .team-item {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  padding: 30px;
  background: rgba(0, 0, 0, .05);
  border-radius: 300px 300px 5px 5px;
}

.team .team-img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.team .team-img img {
  width: 100%;
  border-radius: 300px;
}

.team .team-text {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.team .team-text h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.team .team-text p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.team .team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 30px 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: rgba(79, 132, 196, .92);
  border-radius: 300px 300px 5px 5px;
  opacity: 0;
  transition: .5s;
}

.team .team-item:hover .team-social {
  opacity: 1;
}

.team .team-social a {
  color: #ffffff;
  font-size: 22px;
  padding: 0 10px;
}

/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

@media (min-width: 768px) {
  .service {
      padding: 45px 60px 15px 60px;
  }
}

.service .service-item {
  position: relative;
  width: 100%;
  padding: 25px 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .03) 96%, rgba(0, 0, 0, .1), rgba(0, 0, 0, .2));
  border-radius: 30px 30px 0 0;
  margin-bottom: 30px;
}

.service .service-item:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .03) 96%, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4));
}

.service .service-item h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.service .service-item img {
  height: 80px;
}

.service .service-item p {
  position: relative;
  margin: 20px 0 0 0;
  font-size: 16px;
}

.service .video-player {
  position: relative;
  padding-bottom: 41.7%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #ffffff;
  margin: 30px 0 0 0;
  border-radius: 8px;
}

.service .video-player video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #000000;
  z-index: -1;
}

.service .video-player img {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  border: none;
  height: auto;
  border-radius: 8px;
  filter: opacity(75%);
  -webkit-filter: opacity(75%);
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all;
  z-index: 1;
}

.service .video-player:hover img {
  filter: opacity(100%);
  -webkit-filter: opacity(100%);
}

.service .video-player .play {
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  background: url("../Images/play.png") no-repeat;
  cursor: pointer;
  z-index: 2;
}

.service .video-player .play:hover {
  background: url("../Images/play-hover.png") no-repeat;
}

@media (max-width: 575.98px) {   
  .service .video-player .play {
      height: 60px;
      width: 60px;
      left: 50%;
      top: 50%;
      margin-left: -30px;
      margin-top: -30px;
      background: url("../Images/play-60.png") no-repeat;
  }
  
  .service .video-player .play:hover {
      background: url("../Images/play-hover-60.png") no-repeat;
  }
}


/*******************************/
/******* Service Row CSS *******/
/*******************************/
.service-row {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.service-row .service-row-img {
  position: relative;
  width: 100%;
  padding: 0 30px;
  overflow: hidden;
}

.service-row .service-row-img img {
  max-width: 100%;
}

@media(max-width: 767.98px) {
  .service-row .service-row-img {
      margin-bottom: 30px;
  }
}

.service-row .service-row-text {
  position: relative;
  width: 100%;
  padding: 0 30px;
}

.service-row h2.section-title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.service-row h2.section-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #4F84C4, #00539C, #4F84C4);
  border-radius: 0 100% 100% 0; 
}

.service-row p {
  font-size: 16px;
}

.service-row a.btn {
  margin-top: 15px;
  padding: 10px 35px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  background: linear-gradient(#4F84C4, #00539C);
  transition: .5s;
}

.service-row a.btn:hover {
  background: linear-gradient(#00539C, #4F84C4);
}

.service-row .service-row-col .col-sm-6 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.service-row .service-row-col-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  padding: 8px 0;
  text-align: center;
  color: #ffffff;
  background: #4F84C4;
}

.service-row .service-row-col-text {
  width: calc(100% - 55px);
}

.service-row .service-row-col-text h3 {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 3px;
}

.service-row .service-row-col-text p {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
}

.service a.btn {
  padding: 10px 35px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  background: linear-gradient(#4F84C4, #00539C);
  transition: .5s;
}

.service a.btn:hover {
  background: linear-gradient(#00539C, #4F84C4);
}

@media (max-width: 768px) {
  .service-row .service-row-img,
  .service-row .service-row-text {
      padding: 0;
  }
}
/*******************************/
/********** About CSS **********/
/*******************************/
.about {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

@media (min-width: 768px) {
  .about .container-fluid {
      padding: 0;
  }
  
  .about .row {
      margin: 0;
  }
  
  .about .col-md-6:first-child {
      padding: 0;
  }
  
  .about .col-md-6:last-child {
      padding: 0 60px;
  }
}

.about h2.section-title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.about h2.section-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #4F84C4, #00539C, #4F84C4);
  border-radius: 0 100% 100% 0;
}

.about p {
  color: #213546;
  font-size: 16px;
  margin-bottom: 30px;
}

.about a.btn {
  padding: 10px 35px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  background: linear-gradient(#4F84C4, #00539C);
  transition: .5s;
}

.about a.btn:hover {
  background: linear-gradient(#00539C, #4F84C4);
}

.about img {
  max-width: 100%;
  border-radius: 0 30px 30px 0;
}

@media(max-width: 767.98px) {
  .about img {
      margin-bottom: 30px;
      border-radius: 30px 30px 0 0;
  }
}

.about .youtube-player {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #ffffff;
  margin: 0;
  border-radius: 0 30px 30px 0;
}

@media (max-width: 991.98px) {
  .about .youtube-player {
      padding-bottom: 50%;
  }
}

@media (max-width: 767.98px) {
  .about .youtube-player {
      padding-bottom: 56.23%;
      margin-bottom: 30px;
      border-radius: 30px 30px 0 0;
  }
}

.about .youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.about .youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  /*-webkit-filter: brightness(100%);*/
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all;
}

/*
.about .youtube-player img:hover {
  -webkit-filter: brightness(90%);
}
*/

.about .youtube-player .play {
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  cursor: pointer;
}

.about .youtube-player .play:hover {
  background: url("../Images/play-hover.png") no-repeat;
}

@media (max-width: 575.98px) {   
  .about .youtube-player .play {
      height: 60px;
      width: 60px;
      left: 50%;
      top: 50%;
      margin-left: -30px;
      margin-top: -30px;
      background: url("../Images/play-60.png") no-repeat;
  }
  
  .about .youtube-player .play:hover {
      background: url("../Images/play-hover-60.png") no-repeat;
  }
}


/*******************************/
/*********** FAQs CSS **********/
/*******************************/
.faqs {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

@media (min-width: 768px) {
  .faqs .container-fluid {
      padding: 0;
  }
  
  .faqs .row {
      margin: 0;
  }
  
  .faqs .col-md-6:first-child {
      padding: 0 60px;
  }
  
  .faqs .col-md-6:last-child {
      padding: 0;
  }
}

.faqs h2.section-title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.faqs h2.section-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #4F84C4, #00539C, #4F84C4);
  border-radius: 0 100% 100% 0;
}

.faqs .card {
  margin-bottom: 15px;
  border: none;
  border-radius: 0;
}

.faqs .card:last-child {
  margin-bottom: 0;
}

.faqs .card-header {
  padding: 0;
  border: none;
  background: #ffffff;
}

.faqs .card-header a {
  display: block;
  width: 100%;
  padding: 15px 20px 12px 20px;
  color: #213546;
  font-size: 16px;
  font-weight: 400;
  background: #ffffff;
  border: 2px solid #4F84C4;
  border-radius: 0 30px 30px 0;
}

.faqs .card-header [data-toggle="collapse"]:after {
  font-family: 'font Awesome 5 Free';
  content: "\f067";
  float: right;
  color: #00539C;
  font-size: 12px;
  font-weight: 900;
  transition: .3s;
}

.faqs .card-header [data-toggle="collapse"][aria-expanded="true"]:after {
  font-family: 'font Awesome 5 Free';
  content: "\f068";
  float: right;
  color: #00539C;
  font-size: 12px;
  font-weight: 900;
  transition: .3s;
}

.faqs .card-body {
  padding: 15px 0;
  font-size: 16px;
  font-weight: 400;
  border: none;
  background: #ffffff;
}

.faqs a.btn {
  margin-top: 40px;
  padding: 10px 35px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  background: linear-gradient(#4F84C4, #00539C);
  transition: .5s;
}

.faqs a.btn:hover {
  background: linear-gradient(#00539C, #4F84C4);
}

.faqs img {
  max-width: 100%;
  border-radius: 30px 0 0 30px;

}

@media (max-width: 767.98px) {
  .faqs img {
      margin-top: 30px;
      border-radius: 0 0 30px 30px;
  }
}

/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.testimonial {
  position: relative;
  width: 100%;
  padding: 45px 0;
  text-align: center;
}

.testimonial .container {
  max-width: 960px;
}

.about-page .testimonial {
  padding-bottom: 90px;
}

.testimonial .testimonial-slider-nav {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.testimonial .testimonial-slider-nav .slick-slide {
  position: relative;
  opacity: 0;
  transition: .5s;
}

.testimonial .testimonial-slider-nav .slick-active {
  opacity: 1;
  transform: scale(1.3);
}

.testimonial .testimonial-slider-nav .slick-center {
  transform: scale(2);
  z-index: 1;
}

.testimonial .testimonial-slider-nav .slick-slide img {
  position: relative;
  display: block;
  margin-top: 37px;
  width: 100%;
  height: auto;
  border-radius: 100px;
}

.testimonial .testimonial-slider-nav .slick-center img {
  border: 5px solid #ffffff;
}

.testimonial .testimonial-slider {
  position: relative;
  margin-top: 15px;
  padding-top: 50px;
}

.testimonial .testimonial-slider::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 50px;
  top: 0;
  left: calc(50% - 30px);
  background: url(Images/quote.png) top center no-repeat;
}

.testimonial .testimonial-slider h3 {
  font-size: 20px;
  font-weight: 700;
}

.testimonial .testimonial-slider h4 {
  font-size: 14px;
}

.testimonial .testimonial-slider p {
  font-size: 18px;
  font-style: italic;
  margin-top: 0%;
  margin-left: 20%;
  margin-right: 20%;
  }

/*******************************/
/*********** News CSS **********/
/*******************************/
.news {
  position: relative;
  width: 100%;
  padding: 45px 0 60px 0;
}

@media (min-width: 768px) {
  .news .container-fluid {
      padding: 0;
  }
  
  .news .row {
      margin: 0;
  }
  
  .news .col-md-6:first-child {
      padding: 0;
  }
  
  .news .col-md-6:last-child {
      padding: 0 60px;
  }
}

.news h2.section-title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.news h2.section-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #4F84C4, #00539C, #4F84C4);
  border-radius: 0 100% 100% 0; 
}

.news p {
  font-size: 16px;
  margin-bottom: 30px;
}

.news a.btn {
  padding: 10px 35px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  background: linear-gradient(#4F84C4, #00539C);
  transition: .5s;
}

.news a.btn:hover {
  background: linear-gradient(#00539C, #4F84C4);
}

.news img {
  max-width: 100%;
  border-radius: 0 30px 30px 0;
}

@media (max-width: 767.98px) {
  .news img {
      margin-bottom: 30px;
      border-radius: 30px 30px 0 0;
  }
}

/*****************/
/****Portfolio****/
/*****************/


.portfolio {
  position: relative;
  padding: 45px 0 60px 0;
  background: #ffffff;
}

.portfolio .section-header {
position: relative;
padding: 45px 0 60px 0;
text-align: center;

}

.portfolio #portfolio-flters {
  padding: 0;
  margin: -15px 0 25px 0;
  list-style: none;
  font-size: 0;
  text-align: center;
}

.portfolio #portfolio-flters li,
.portfolio .load-more .btn {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 10px 25px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 30px;
  background: #587fff;
  border: 1px solid gray;
  transition: .5s;
}


.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #ffffff;
  color: #213546;
}

.portfolio .portfolio-item {
  position: relative;
  height: 280px;
  margin-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;
}

.portfolio .portfolio-item figure {
  background: #ffffff;
  overflow: hidden;
  height: 280px;
  position: relative;
  border-radius: 30px 30px 0 0;
  margin: 0; 
}

.portfolio .portfolio-item figure img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  border-radius: 8px;
}

.portfolio .portfolio-item figure:hover img {
  opacity: 0.3;
  transition: 0.3s;
}

.portfolio .portfolio-item figure .link-preview,
.portfolio .portfolio-item figure .link-details {
  position: absolute;
  display: inline-block;
  opacity: 0;
  line-height: 1;
  text-align: center;
  width: 45px;
  height: 35px;
  border-radius: 6px;
  background: black;
  transition: 0.5s;
}

.portfolio .portfolio-item figure .link-preview i,
.portfolio .portfolio-item figure .link-details i {
  color: #ffffff;
  padding-top: 9px;
  font-size: 16px;
}

.portfolio .portfolio-item figure .link-preview:hover,
.portfolio .portfolio-item figure .link-details:hover {
  background: black;
}

.portfolio .portfolio-item figure .link-preview:hover i,
.portfolio .portfolio-item figure .link-details:hover i {
  color: #ffffff;
}

.portfolio .portfolio-item figure .link-preview {
  top: 50%;
  left: calc(50% - 61px);
}

.portfolio .portfolio-item figure .link-details {
  top: 50%;
  right: calc(50% - 61px);
}

.portfolio .portfolio-item figure:hover .link-preview {
  opacity: 1;
  top: calc(50% - 50px);
}

.portfolio .portfolio-item figure:hover .link-details {
  opacity: 1;
  top: calc(50% - 50px);
}

.portfolio .portfolio-item figure .portfolio-title {
  position: absolute;
  margin: 0;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background: black;
  border-radius: 0;
}

.portfolio .portfolio-item figure .portfolio-title:hover {
  text-decoration: none;
}

/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.contact h2.section-title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 45px;
  padding-bottom: 15px;
}

.contact h2.section-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #4F84C4, #00539C, #4F84C4);
  border-radius: 0 100% 100% 0;
}

.contact .contact-info {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
}

.contact .contact-info iframe {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.contact .contact-info h3 {
  color: #3f4b5a;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact .contact-info h3 span {
  font-weight: 400;
  padding-left: 5px;
}

.contact .contact-info p {
  color: #3f4b5a;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.contact .editor-info {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
}

@media (min-width: 992px) {
  .contact .editor-info {
      padding-left: 30px;
  }
}

.contact .editor-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dddddd;
}

.contact .editor-item:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.contact .editor-img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.contact .editor-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.contact .editor-text {
  width: auto;
}

.contact .editor-text h3 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact .editor-text a {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}


/************************/
/****Site Maintenance****/
/************************/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

/*
*{
    margin: 0;
    padding: 0;
    color: #d9d9d9;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*/

/************************/
/****Footer****/
/************************/
.content1{
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
  }
  .content1 .text{
    font-size: 2.5rem;
    font-weight: 600;
    color: #202020;
  }
  .content1 .p{
    font-size: 2.1875rem;
    font-weight: 600;
    color: #202020;
  }
  footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #111;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
    color: white
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
    color: gray;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
    color: white;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: white;
  }
  .left .content .social a span:hover{
    background: #f12020;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    font-weight: 500;
    background:white;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #f1d220;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
    
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
    color: white;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 400%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    padding: center;
  }
  .right form .btn button:hover{
    background:white;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color:gray;
  }
  .bottom center a{
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }

